@import '../../styles/variables';

.notification {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 455px;
  background-color: $gray-primary;
  box-shadow: 0px 0px 8px 0px #00000026;
  padding: 17px 21px;
}

.icon {
  transform: translateY(-1px);
}

.message {
  font-size: 16px;
  color: $gray-dark;
}
