{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true,
  "max-len": ["error", 140, 2],
  "tabWidth": 2,
  "useTabs": false
}
