@import '../../../styles/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.black {
  background-color: $black;
  color: $white; 
}

.white {
  border: 1px solid $gray-light;
  color: $black;

  &:not(&:has(.icon)):hover {
    background-color: $black;
    color: $white;
  }
}

.small {
  width: 40px;
  padding: 10px 18px;
}

.icon {
  svg {
    max-width: 6px;
    height: 10px;
  }

  &--left {
    transform: rotate(180deg);
  }

  &--right {
    transform: rotate(360deg);
  }
}


