@import '../../../styles/variables';

.input {
  width: 100%;
  padding: 10px;
  background: $gray-primary;
  border: none;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}
