@import '../../../styles/variables';

.inputWrapper {
  position: relative;
}

.input {
  width: 100% ;
  border: none;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}

.gray {
  background: $gray-primary;
}

.white {
  background: $white;
}

.errorMessage {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: $red;
  font-size: 14px;
}

