@import '../../../styles/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phone-sm {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 30px;
  }
}

.logo {
  font-size: 16px;
  line-height: 27px;
}

.socialNetworks {
  display: flex;
  align-items: center;
  column-gap: 30px;

  @include device-custom (400) {
    column-gap: 16px;
  }
}

.link {
  display: inline-block;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.20);
  }

  @include device-custom (400) {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
