$tablet-xl: 1200px;
$tablet-lg: 992px;
$tablet-md: 768px;
$tablet-sm: 640px;
$phone-md: 450px;
$phone-sm: 320px;

@mixin tablet-xl {
  @media (max-width: #{$tablet-xl}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-md {
  @media (max-width: #{$tablet-md}) {
    @content;
  }
}

@mixin tablet-sm {
  @media (max-width: #{$tablet-sm}) {
    @content;
  }
}

@mixin phone-md {
  @media (max-width: #{$phone-md}) {
    @content;
  }
}


@mixin phone-sm {
  @media (max-width: #{$phone-sm}) {
    @content;
  }
}

@mixin device-custom($screen) {
  @media (max-width: #{$screen + 'px'}) {
    @content;
  }
}
