@import '../../styles/variables';

.wrapper {
  position: relative;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 11px;
  border: 1px solid $black;
  position: absolute;
  background: $white;
  font-size: 7px;
  font-weight: bold;
  top: -1px;
  left: 10px;
  z-index: 2;
  border-radius: 50%;
}
