@import '../../styles/variables';

$width-active-line: 206px;
$width-picture: 540px;

.wrapper {
  display: grid;
  gap: 40px;
}

.picture {
  border-radius: 8px;
  transition: all 0.1s;
  cursor: pointer;
  
  &--active {
    border: 1px solid $gray-dark;
  }

  &:hover {
    transform: scale(1.05);
  }
}


.generalPicture {
  grid-column: middle / before-end;
  position: relative;
  
  &::before {
    display: block;
    content: '';
    width: $width-active-line;
    height: 2px;
    position: absolute;
    background-color: $gray-dark;
  }
  
  &::after {
    display: block;
    content: '';
    width: calc($width-picture - $width-active-line);
    height: 2px;
    transform: translateX($width-active-line);
    position: absolute;
    background-color: $gray-light;
  }

  &::before, &::after {
    bottom: -24px;
  }
}
