@import '../../../styles/variables';

.formInputWrapper {
  width: 400px;
  padding-bottom: 13px;
  position: relative;
  border-bottom: 1px solid ;
  padding-bottom: 13px;
}

.formInput {
  outline: none;
  border: none;

  &::placeholder {
    font-size: 16px;
  }
}

.formInputIcon {
  position: absolute;
  right: 0px;
  top: 10px;
}
