@import '../../../styles/variables';

.product {
  display: grid;
  grid-template-columns: 120px 39px [middle] 540px 62px [before-end] 1fr;
  margin-top: 128px;
}

.generalPicture {
  grid-column: middle / before-end;
}



