@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.formInputWrapper {
  width: 400px;
  padding-bottom: 13px;
  position: relative;
  border-bottom: 1px solid $black;
  padding-bottom: 13px;

  @include tablet-lg {
    width: 330px;
  }

  @include device-custom(840) {
    width: 100%;
  }

  @include device-custom (400) {
    padding-bottom: 4px;
  }
}

.formInput {
  outline: none;
  border: none;
  padding: 3px;

  &::placeholder {
    font-size: 16px;

    @include phone-md {
      font-size: 12px;
    }
  }
}

.formInputIcon {
  position: absolute;
  right: 0px;
  top: 7px;
}
