@import '../../styles/variables';
@import '../../styles/mixins';

.search {
  width: 100%;
  position: relative;
  
  svg {
    width: 12px;
    height: 12px;
    
    path {
      fill: $gray-dark;
    }
  }
}

.searchInput {
  padding-left: 30px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  transform: translateY(11px);
}
