@import '../../styles/variables';

.search {
  position: relative;

  svg {
    width: 12px;
    height: 12px;
    
    path {
      fill: $gray-dark;
    }
  }
}

.searchInput {
  padding-left: 30px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 10px;
}
