@import '../../../styles/variables';

.review {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;

  &:not(&:last-child) {
    border-bottom: 1px solid $gray-light;
  }
}

.name {
  font-weight: 400;
  font-size: 20px;
  color: $black;
  line-height: 26px;
}

.date {
  font-size: 14px;
  color: $gray-dark;
  line-height: 22px;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.rating {
  margin-top: 16px;
}

.description {
  max-width: 580px;
  color: $gray-dark;
  font-size: 16px;
  line-height: 27px;
  margin-top: 24px;
}
